* {
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
}

@font-face {
    font-family: 'MojaPisava';
    src: url('../fonts/proximanova_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: black;
    font-family: "MojaPisava", sans-serif;
}
input{
    font-family: 'MojaPisava';
}
.login-glavni {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 150px auto;
    max-width: 935px;
    padding: 20px;
}
.login-desni{
    max-width: 280px;
}
#instagramText {
    display: block;
    margin: 0px auto 10px;
}

.odmik {
    margin-top: 5px;
}

.vpisnaPolja, .resetemail {
    width: 100%;
    height: 32px;
    background-color: #121212;
    border: 1px solid #4f4f4f;
    border-radius: 2px;
    color: white;
    padding-left: 5px;
}

input::placeholder {
    color: #9e9e9e;
}

.gumb {
    display: block;
    margin: 10px auto;
    background-color: #3441af;
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 30px;
    color: #a3a4b2;
    font-weight: bold;
    font-size: 14px;
}

/* --- OR del --- */
.or {
    margin: 20px 0px 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.or span {
    color: #9e9e9e;
    width: 60px;
    text-align: center;
}

hr {
    display: inline-block;
    width: 100px;
    border-color: #121212;
}

/* --- Facebook del --- */
.login-facebookContainer {
    margin: 30px auto 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: #0095f6;
    cursor: pointer;
    transition: 0.3s;
}
.icon {
    width: 30px;
    height: 30px;
}
.login-facebook {
    color: #0095f6;
    font-weight: bold;
    font-size: 14px;
}

/* --- Forgot password --- */
.forgotPassword{
    margin-bottom: 20px;
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}
.forgotPassword a{
    text-decoration: none;
}
.forgotPassword a:hover{
    text-decoration: underline;
}
/* --- REPORT --- */
.login-report, .signup-report{
    display: block;
    gap: 10px;
    margin-top: 20px;
    width: 100%;
    font-size: 12px;
    line-height: 1.5;
    color: #9e9e9e;
    text-align: center;
}
.signup-report{
    display: block;
    width: 100%;
    margin-top: 20px;
}
.login-report a, .signup-report a{
    color: #708DFF;
    text-decoration: none;
    margin-left: 2px;
}
.login-report a:hover{
    text-decoration: underline;
}
/* --- SIGN UP --- */
.login-signup{
    display: block;
    text-align: center;
    margin: 50px auto 0px 0px;
}
.login-signup a{
    color: #708DFF;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
}


/* --- SIGN UP (drugi html) --- */
.container-signup{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 50px auto;
    height: 620px;
    max-width: 350px;
    padding: 10px;
}
.zgornji{
    width: 100%;
    padding: 30px;
    border: 1px solid #1b1b1b;
}
.zgornji h4{
    text-align: center;
    margin-bottom: 20px;
    color: #A8A8A8;
    font-weight: bold;
    font-size: 16px;
}
.loginfacebook{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4a5df9;
    width: 100%;
    text-align: center;
    border: 2px solid #4a5df9;
    border-radius: 10px;
    height: 30px;
    text-decoration: none;
    line-height: 30px;
}
.container-signup .login-report{
    margin-top: 40px;
}
.more{
    width: 100%;
}
.spodnji{
    width: 100%;
    height: 80px;
    border: 1px solid #1b1b1b;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.login{
    display: block;
    font-size: 14px;
}
.login a{
    color: #708DFF;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
}

/* --- RESETPASSWORD (drugi html) --- */
.container-reset{
    margin: 100px auto;
    max-width: 380px;
    border: 1px solid #1b1b1b;
    border-radius: 5px;
}
.reset-zgornji{
    padding: 40px;
}
.container-reset input{
    border-radius: 5px;
    height: 38px;
}
.slika{
    height: 96px;
    width: 96px;
    display: block;
    margin: auto;
}
#trouble{
    font-size: 16px;
    font-weight: bold;
}
#cantresset{
    color: #708DFF;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
}

.reset-password span{
    font-size: 12px;
    display: block;
    margin-top: 20px;
    text-align: center;
}
.reset-password .reset-text{
    font-weight: normal;
    font-size: 14px;
    color: #A8A8A8;
}
.resetemail{
    width: 100%;
    margin-top: 10px;
}
#reset-createnew{
    text-align: center;
    width: 100%;
}
#reset-createnew a{
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
#reset-createnew a:hover{
    text-decoration: underline;
}
.back{
    border: 1px solid #1b1b1b;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #121212;
    height: 44px;
}
.back a{
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
.back a:hover{
    text-decoration: underline;

}
@media (max-width: 900px) {
  .login-glavni {
    align-items: center;
    margin: 80px auto;
  }

  .login-levi img {
    display: none;
  }

  .login-desni {
    max-width: 50%;
    padding: 30px 20px;
  }

  #instagramText {
    width: 150px;
  }

  .vpisnaPolja, .gumb {
    width: 100%;
  }
  .report{
    width: 100%;
  }

  .container-reset{
    max-width: 40%;
    border: none;
  }
  .reset-zgornji{
    padding: 0px;
  }
}

@media (max-width: 500px) {
  body {
    font-size: 12px;
  }

  .login-glavni {
    margin: 40px auto;
    padding: 0 20px;
  }

  .login-desni {
    padding: 20px;
  }

  input, .gumb {
    font-size: 16px; /* prepreči zoom ob vnosu na iOS */
  }
}




/* JAVA SCRIPT */
.gumb.active{
    background-color: #4a5df9;
    color: white;
}
