* {
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
}

@font-face {
    font-family: 'MojaPisava';
    /* ime, ki ga boš uporabil */
    src: url('../fonts/Instagram\ Sans.ttf') format('truetype');
    /* lahko imaš več formatov */
    font-weight: normal;
    font-style: normal;
    color: white;
}

body {
    background-color: black;
    font-family: "MojaPisava", sans-serif;
}

.glavni {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 150px auto;
    max-width: 935px;
    padding: 20px;
}
#instagramText {
    display: block;
    margin: auto;
    width: 180px;
}

.odmik {
    margin-top: 5px;
}

.vpisnaPolja, .resetemail {
    width: 100%;
    height: 32px;
    background-color: #121212;
    border: 1px solid #4f4f4f;
    border-radius: 2px;
    color: white;
    padding-left: 5px;
}

input::placeholder {
    color: #9e9e9e;
}

.gumb {
    display: block;
    margin: 10px auto;
    background-color: #3441af;
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 30px;
    color: #a3a4b2;
    font-weight: bold;
    font-size: 14px;
}

/* --- OR del --- */
.or {
    margin: 20px 0px 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.or span {
    color: #9e9e9e;
    width: 60px;
    text-align: center;
}

hr {
    display: inline-block;
    width: 100px;
    border-color: #121212;
}

/* --- Facebook del --- */
.facebookContainer {
    margin: 30px auto 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: #0095f6;
    cursor: pointer;
    transition: 0.3s;
}
.icon {
    width: 30px;
    height: 30px;
}
.facebook {
    color: #0095f6;
    font-weight: bold;
    font-size: 14px;
}

/* --- Forgot password --- */
.forgotPassword{
    margin-bottom: 20px;
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}
.forgotPassword a{
    text-decoration: none;
}
.forgotPassword a:hover{
    text-decoration: underline;
}
/* --- REPORT --- */
.report, .report2{
    display: block;
    margin-top: 20px;
    width: 274px;
    font-size: 12px;
    line-height: 1.5;
    color: #9e9e9e;
    text-align: center;
}
.report2{
    display: block;
    width: 260px;
    margin-top: 20px;
}
.report a, .report2 a{
    color: #708DFF;
    text-decoration: none;
    margin-left: 2px;
}
.report a:hover{
    text-decoration: underline;
}
/* --- SIGN UP --- */
.signup{
    display: block;
    text-align: center;
    margin: 50px auto 0px 0px;
}
.signup a{
    color: #708DFF;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
}


/* --- SIGN UP (drugi html) --- */
.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 50px auto;
    height: 620px;
    max-width: 310px;
}
.zgornji{
    width: 100%;
    padding: 20px;
    border: 1px solid #1b1b1b;
}
.zgornji h4{
    text-align: center;
    margin-bottom: 20px;
    color: #A8A8A8;
    font-weight: bold;
    font-size: 16px;
}
.loginfacebook{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4a5df9;
    width: 100%;
    text-align: center;
    border: 2px solid #4a5df9;
    border-radius: 10px;
    height: 30px;
    text-decoration: none;
    line-height: 30px;
}
.container .report{
    margin-top: 40px;
}
.spodnji{
    width: 100%;
    height: 60px;
    border: 1px solid #1b1b1b;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.login{
    display: block;
    font-size: 14px;
}
.login a{
    color: #708DFF;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
}

/* --- RESETPASSWORD (drugi html) --- */
.container2{
    margin: 100px auto;
    height: 660px;
    max-width: 340px;
    border: 1px solid #1b1b1b;
    padding: 30px;
}
.slika{
    height: 96px;
    width: 96px;
    display: block;
    margin: auto;
}
.reset{

}

.reset span{
    font-size: 16px;
    display: block;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}
.reset .ajksgdaksjd{
    font-weight: normal;
    font-size: 14px;
    color: #A8A8A8;
}
.resetemail{
    width: 100%;
    margin-top: 10px;
}

@media (max-width: 900px) {
  .glavni {
    align-items: center;
    margin: 80px auto;
  }

  .levi img {
    display: none;
  }

  .desni {
    max-width: 50%;
    padding: 30px 20px;
  }

  #instagramText {
    width: 150px;
  }

  .vpisnaPolja, .gumb {
    width: 100%;
  }
  .report{
    width: 100%;
  }
}

@media (max-width: 500px) {
  body {
    font-size: 14px;
  }

  .glavni {
    margin: 40px auto;
    padding: 10px;
  }

  .desni {
    padding: 20px;
  }
}
/* JAVA SCRIPT */
.gumb.active{
    background-color: #4a5df9;
    color: white;
}
