* {
    margin: 0;
    padding: 0;
    color: white;
}

@font-face {
    font-family: 'MojaPisava';
    /* ime, ki ga boš uporabil */
    src: url('../fonts/Instagram\ Sans.ttf') format('truetype');
    /* lahko imaš več formatov */
    font-weight: normal;
    font-style: normal;
    color: white;
}

body {
    background-color: black;
    font-family: "MojaPisava", sans-serif;
    display: flex;
    justify-content: center; /* vodoravno */
    align-items: center;
    height: 100vh; 
}

.glavni {
    margin: auto;
    width: 935px;
}

.levi {
    float: left;
}

.desni {
    float: right;
    width: 274px;
}

#instagramText {
    display: block;
    margin: auto;
}

.odmik {
    margin-top: 5px;
}

.vpisnaPolja {
    width: 266px;
    height: 32px;
    background-color: #121212;
    border: 1px solid #4f4f4f;
    border-radius: 2px;
    color: white;
    padding-left: 5px;
}

input::placeholder {
    color: #6c6d6d;
}

.gumb {
    display: block;
    margin: 8px auto;
    background-color: #3441af;
    border: none;
    border-radius: 10px;
    width: 273px;
    height: 30px;
    color: #a3a4b2;
    font-weight: bold;
    font-size: 14px;
}

/* --- OR del --- */
.or {
    margin: 20px 0px 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.or span {
    color: #999796;
    width: 60px;
    text-align: center;
}

hr {
    display: inline-block;
    width: 100px;
    border-color: #121212;
}

/* --- Facebook del --- */
.facebookContainer {
    margin: 30px auto 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: #0095f6;
    cursor: pointer;
    transition: 0.3s;
}
.icon {
    width: 30px;
    height: 30px;
}
.facebook {
    color: #0095f6;
    font-weight: bold;
    font-size: 14px;
}

/* --- Forgot password --- */
.forgotPassword{
    margin-bottom: 20px;
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}
.forgotPassword a{
    text-decoration: none;
}
.forgotPassword a:hover{
    text-decoration: underline;
}
/* --- REPORT --- */
.report, .report2{
    display: block;
    margin-top: 20px;
    width: 100%;
    font-size: 12px;
    line-height: 1.5;
    color: #A8A8A8;
    text-align: center;
}
.report2{
    display: block;
    margin-top: 20px;
}
.report a, .report2 a{
    color: #708DFF;
    text-decoration: none;
    margin-left: 2px;
}
/* --- SIGN UP --- */
.signup{
    display: block;
    text-align: center;
    margin: 50px auto 0px 0px;
}
.signup a{
    color: #708DFF;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
}


/* --- SIGN UP (drugi html) --- */
.container{
    height: 590px;
    width: 274px;
    border: 1px solid #1b1b1b;
    padding: 30px;
}
.zgornji{
    width: 274px;
}
.zgornji h4{
    text-align: center;
    margin-bottom: 20px;
    color: #A8A8A8;
    font-weight: bold;
    font-size: 16px;
}
.loginfacebook{
    display: block;
    background-color: #4a5df9;
    width: 270px;
    text-align: center;
    border: 2px solid #4a5df9;
    border-radius: 10px;
    height: 30px;
    text-decoration: none;
    line-height: 30px;
}
.container .report{
    margin-top: 40px;
}
.spodnji{
    width: 314px;
    height: 60px;
    margin-top: 40px;
    margin-left: -30px;
    border: 1px solid #1b1b1b;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.login{
    display: block;
    font-size: 14px;
}
.login a{
    color: #708DFF;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
}